* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.main-area {
    height: 100%;
    width: 100%;
}

.sidebar {
    min-height: 100vh;
    background-color: #f1f3f7;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    min-width: 420px;
    box-shadow: 3px 0 28px hsl(0deg 0% 46% / 50%); 
}

.img-area {
    width: 75%;
    z-index: 1;
    min-height: 100%;
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
}

.img-area img {
    width: 100%;
}

.logo {
    width: 220px;
    margin: 80px;
    text-align: center;
}

input {
    padding: 10px;
    padding-left: 2px;
    border: 0;
    border-bottom: solid 1px #636b78;
    background-color: transparent;
    min-width: 300px;
    width: 100%;
}

input:focus {
    border: 0; 
    outline: 0;
    box-shadow: none;
    border-bottom: solid 1px #636b78;
}

.text-left {
    text-align: left;
}

.form-area {
    margin: 0px 100px;
}

a {
    text-decoration: none; 
    color: #399bda;
    line-height: 30px;
}

button {
    width: 100%;
    color: #fff;
    background-color: #ff4800;
    border: 0;
    padding: 10px;
    font-size: 18px;
    border-radius: 2px;
    transition: all 0.3s;
}

button:hover {
    box-shadow: 0 1px 6px hsl(0deg 0% 42% / 80%);
    color: #fff;
    background-color: #ff4800;
    transition: all 0.3s;
}
 
.text-center {
    text-align: center;
}
